<!DOCTYPE html>
<html>
  <head>
    <title>HeartRating</title>
  </head>
  <body>
    <div class="container">
      <div class="header-title">HeartRating</div>
        {{ range $val := .Fill }}
          <p>{{ .User }} {{ .Title }} {{ .Show }} {{ .Heart }} {{ .Duration }}</p>
        {{ end }}
      </div>
    </div>
  </body>
</html>
